<div class='user'>
	<div class='name'>
		<span class='label'>Name:</span>
		<span class='value'><%= @user.name %></span>
	</div>
	<div class='email'>
		<span class='label'>E-mail:</span>
		<span class='value'><%= @user.email %></span>
	</div>	
</div>
