<% if @user.errors.any? %>
	<div id='error_list'>
		<h2>
			<%= pluralize(@user.errors.count, "error")+" "%> 
			<%= pluralize(@user.errors.count, "has")+" "%>
			occured
		</h2>
		<ul>
			<% @user.errors.full_messages.each do |error| %>
			<li><%= error %></li>
			<% end %>
		</ul>
	</div>
<% end %>
